/*@font-face {
    font-family: 'Open Sans';
    src: url('../Fonts/OpenSans/Regular.ttf');
}*/

.root {
    /*-fx-font-size: 16pt;*/
    -fx-font-family: "Open Sans";
    -fx-base: "#585858";
    -fx-text-fill: "#585858";
    /*-fx-base: "#585858";*/
    -fx-background: "#7D7D7D";
}
/*
.root * {
    -fx-text-fill: "#585858";
}*/

*:focused {
    -fx-background-color: white;
	-fx-border-color: transparent;
	-fx-border-thickness: 0;
}

.dark-pane {
	-fx-background-color: linear-gradient(from 20% 20% to 80% 80%, #7D7D7D, #373737), linear-gradient(from 20% 20% to 80% 80%, #909090, #636363), linear-gradient(from 20% 20% to 80% 80%, #373737, #7D7D7D), "#1F1F1F";
    -fx-background-radius: 20px, 18px, 16px, 12px;
    -fx-background-insets: 0, 6, 8, 16;
	-fx-padding: 24px 24px 24px 24px;
	/*-fx-border-color: linear-gradient(from 20% 20% to 80% 80%, #7D7D7D, #373737);
	-fx-border-width: 16px;
	-fx-border-radius: 16px;*/
}

.inner-panel {
	-fx-border-color: "#AAAAAA";
	-fx-border-width: 2px;
	-fx-border-insets: 2px;
	-fx-border-radius: 4px;
	-fx-background-color: "#FFFFFF";
    -fx-background-radius: 4px;
    -fx-background-insets: 3px;
}

.panel, .tooltip {
    -fx-color: "#7D7D7D";
    -fx-text-fill: "#ffffff";
	-fx-border-color: "#373737";
	/*
	-fx-padding: 4px 4px 4px 4px; /* this value is used as the first bcg stop, to avoid the white spilling outside *//*
	-fx-background-color: "#373737", white;
    -fx-background-radius: 8px, 15px;
    -fx-background-insets: 0, 8px;
	*/
	-fx-background-color: white;
    -fx-background-radius: 15px;
	-fx-border-width: 6px;
	-fx-border-style: solid;
	-fx-border-radius: 8px;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 1.5, 0.1, 0.0, 5.0);
}

.tooltip * {
    -fx-text-fill: black;
    -fx-font-size: 12px;
}

.bolt-wrapper {
	-fx-background-color: "#373737";
	-fx-background-radius: 8px;
}

.bolt-wrapped {
	-fx-padding: 8px 8px 8px 8px;
	-fx-background-color: "#373737", white;
    -fx-background-radius: 8px, 6px;
    -fx-background-insets: 0, 14px;
}

.panel .title {
	-fx-background-color: "#585858";
}

.panel .titled-pane-graphic-title {
	-fx-padding: 0 45px 0 0;
}

.panel .title * {
    -fx-font-size: 12pt;
    -fx-font-weight: 700;
	-fx-text-fill: "#fff";
}
/*
.bolt-wrapped .title {
	-fx-background-color: "#373737", "#585858";
    -fx-background-insets: 0 0 0 0, 6px 6px 0 6px;
	-fx-padding: 10px 16px 5px 16px;
}
*/
.panel .content {
	-fx-background-color: transparent;
	-fx-border-radius: 8px;
	-fx-border-width: 0;
	-fx-padding: 8px 8px 8px 8px;
}

.widget, .widget .scroll-pane, .widget .scroll-pane > * {
	-fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
	-fx-border-width: 0;
	-fx-border-color: transparent;
}

.widget .scroll-pane, .widget .scroll-pane > * {
	-fx-background-color: transparent;
}

.widget.tab-pane {
	-fx-background-color: "#7D7D7D";
}

.widget.menu-bar * {
    -fx-text-fill: "#ffffff";
}

.widget.menu-bar {
	-fx-background-color: "#383838";
}

.widget .container > .menu-button, .widget .context-menu, .widget .context-menu:hover {
	-fx-background-color: "#3F3F3F";
}

.widget .menu-item, .widget .menu {
	-fx-background-color: "#7D7D7D";
	-fx-padding: 4 12 4 12;
}

.widget .context-menu, .widget .context-menu:hover, .widget .context-menu:selected, .widget .context-menu:disabled {
	-fx-margin: 0;
	-fx-padding: 0;
	-fx-border-width: 4 !important;
	-fx-border-color: "#3F3F3F";
}

.widget .context-menu *, .widget .context-menu:hover *, .widget .context-menu:selected *, .widget .context-menu:disabled *, .widget .context-menu *:hover, .widget .context-menu *:selected, .widget .context-menu *:disabled {
	-fx-font-size: 12px;
	-fx-font-weight: 500;
	-fx-border-width: 0;
}

.widget.menu-bar > .container > .menu-button:hover, .widget .menu-item:hover, .widget .menu-item:focused {
	-fx-background-color: "#E69344";
}

.widget .context-menu *:disabled {
	-fx-background-color: "#3F3F3F";
    -fx-base: "#3F3F3F";
}

.widget.menu-bar > .container > .menu-button:selected, .widget .menu-item:selected, .widget .menu:selected, .widget .context-menu:selected {
	-fx-background-color: "#585858";
}

.widget .tab {
    -fx-base: "#585858";
	-fx-background-color: "#585858";
	-fx-background-insets: 0;
	-fx-background-radius: 0;
	-fx-min-width: 120px;
	-fx-font-size: 14px;
	-fx-font-weight: 500;
	-fx-padding: 4 8 4 8;
}

.widget .tab * {
	-fx-alignment: CENTER_LEFT;
}

.widget .button, .widget .text-field, .widget .combo-box, .combo-box:hover .combo-box-popup .list-cell, .widget .choice-box {
    -fx-base: "#cccccc";
	-fx-background-color: "#cccccc";
	-fx-background-insets: 0;
	-fx-background-radius: 0;
}

.widget .combo-box .button-cell, .widget .choice-box .button-cell {
	-fx-background-color: "#cccccc";
}

.widget .combo-box:hover .button-cell, .widget .choice-box:hover .button-cell {
	-fx-background-color: "#E69344";
}

.widget .combo-box .dropdown-cell, .widget .choice-box .dropdown-cell {
	-fx-background-color: "#cccccc" !important;
}

.widget .combo-box .dropdown-cell:hover, .widget .choice-box .dropdown-cell:hover {
	-fx-background-color: "#E69344" !important;
}

.widget .tab:hover, .widget .button:hover, .widget .text-field:hover, .widget .combo-box:hover, .combo-box .combo-box-popup .list-cell:hover, .widget .choice-box:hover, .widget .check-box:hover .box:hover, .widget .spinner .increment-arrow-button:hover, .widget .spinner .decrement-arrow-button:hover {
    -fx-base: "#E69344";
	-fx-background-color: "#E69344";
}

.widget .tab:selected {
    -fx-base: "#7D7D7D";
	-fx-background-color: "#7D7D7D";
}

.widget .button:selected, .widget .text-field:selected, .widget .combo-box:selected, .widget .choice-box:selected, .widget .spinner .increment-arrow-button:selected, .widget .spinner .decrement-arrow-button:selected {
    -fx-base: "#585858";
	-fx-background-color: "#585858";
}

.widget .combo-box .arrow, .widget .choice-box .arrow, .widget .combo-box:hover .arrow, .widget .choice-box:hover .arrow, .widget .combo-box:selected .arrow, .widget .choice-box:selected .arrow {
    -fx-shape: null;
    -fx-background-color: transparent;
	-fx-background-position: center;
	-fx-background-repeat: stretch;
	-fx-background-image: url("../../Resources/Graphics/Icons/dropdown-arrow-small.png");
	-fx-padding: 6 6 6 6;
}

.widget .check-box .box {
    -fx-base: "#AAAAAA";
	-fx-background-color: "#AAAAAA";
	-fx-background-insets: 0;
	-fx-background-radius: 0;
}

.widget .check-box .mark, .widget .check-box:selected .mark, .widget .check-box:indeterminate .mark {
	-fx-padding: 6 6 6 6;
}

.widget .check-box:selected .mark, .widget .check-box:indeterminate .mark {
    -fx-shape: null;
    -fx-background-color: transparent;
	-fx-background-position: center;
	-fx-background-repeat: stretch;
	-fx-background-image: url("../../Resources/Graphics/Icons/checkbox-check-alpha.png");
}

.widget .spinner .increment-arrow-button, .widget .spinner .decrement-arrow-button {
    -fx-base: "#7D7D7D";
	-fx-background-color: "#7D7D7D";
	-fx-background-insets: 0;
	-fx-background-radius: 0;
}

.widget .spinner .increment-arrow, .widget .spinner .decrement-arrow {
    /*-fx-shape: null;*/
    -fx-background-color: white;
	-fx-background-position: center;
	-fx-background-repeat: stretch;
}
/*
.widget .spinner .increment-arrow {
	-fx-background-image: url("../../Resources/Graphics/Icons/checkbox-check-alpha.png");
}


.widget .spinner .decrement-arrow {
	-fx-background-image: url("../../Resources/Graphics/Icons/checkbox-check-alpha.png");
}*/

.widget .spinner:focused, .widget .slider:focused, .widget .spinner:focused *, .widget .slider:focused *, .widget .combo-box:focused, .widget .choice-box:focused {
	-fx-border-width: 0;
	-fx-border-color: transparent;
}

.widget .spinner:disabled {
	-fx-border-width: 0;
	-fx-border-color: transparent;
	-fx-border-radius: 0;
	-fx-background-radius: 0;
    -fx-background-color: "#cccccc";
}

.widget .radio-button, .widget .check-box {
	-fx-border-width: 0;
	-fx-border-color: transparent;
}

.widget .radio-button > .radio {
  -fx-background-color: "#AAAAAA";
  -fx-background-insets: 0;
  -fx-background-radius: 4px;
}

.widget .radio-button:hover > .radio {
  -fx-background-color: "#E69344";
  -fx-background-radius: 4;
}

.widget .radio-button:selected > .radio > .dot {
  -fx-background-color: "#FFFFFF";
  -fx-background-insets: -2;
  -fx-background-radius: 3px;
}

.widget .radio-button:focused {
	-fx-border-color: transparent;
	-fx-background-color: transparent;
}

.widget .slider {
	-fx-tick-label-font-family: "Open Sans";
}

.widget .slider .track {
	-fx-background-color: "#3F3F3F";
	-fx-background-radius: 0px;
	-fx-background-insets: 0 -5 0 -5;
	-fx-padding: 5 0 5 0;
}

.widget .slider .thumb {
	-fx-background-color: "#A0A0A0";
	-fx-background-radius: 0px;
	-fx-font-size: 8px;
}

.widget .slider .thumb:hover {
	-fx-background-color: "#E69344";
}

.widget .toggle-switch .thumb {
    -fx-background-color: "#CCCCCC";
    -fx-border-color: "#3F3F3F";
    -fx-border-radius: 12;
    -fx-border-thickness: 1;
	-thumb-move-animation-time: 1000;
}

.widget .toggle-switch .thumb-area {
    -fx-background-color: "#7D7D7D";
    -fx-border-color: "#3F3F3F";
    -fx-border-radius: 12;
    -fx-border-thickness: 1;
    -fx-min-width: 80;
}

.widget .toggle-switch:selected .thumb-area {
    -fx-background-color: "#E69344";
}

.widget .list-view .list-cell * {
    -fx-text-fill: "#000000" !important;
    -fx-border-thickness: 0 !important;
}

.widget .list-view .list-cell:even {
    -fx-background-color: "#FFFFFF";
}

.widget .list-view .list-cell:odd {
    -fx-background-color: "#F0F0F0";
}

.widget .list-view .list-cell:selected {
    -fx-background-color: "#E69344";
}

.widget .list-view .list-cell:focused {
    -fx-background-color: "#E69344";
}

.scroll-bar {
	-fx-font-size: 16px;
	-fx-background-color: "#7D7D7D";
}

.scroll-pane .corner {
	-fx-background-color: "#7D7D7D";
}

.scroll-bar .track {
	-fx-background-color: "#3F3F3F";
}

.scroll-bar .thumb {
	-fx-background-color: "#CCCCCC";
	-fx-background-radius: 0;
}

.scroll-bar .thumb:hover {
	-fx-background-color: "#E69344";
}

.scroll-bar .increment-button, .scroll-bar .decrement-button, .scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
	visibility: hidden;
	background-color: transparent;
}

.progress-bar {
	-fx-accent: "#E69344";
    -fx-indeterminate-bar-animation-time: 3.0;
	-fx-indeterminate-bar-escape: true;
	-fx-indeterminate-bar-length: 256;
	-fx-border-color: "#E69344";
	-fx-border-width: 2px;
	-fx-border-radius: 2px;
	-fx-padding: -1 -1 -2 -1;
}

.progress-bar .track {/*
	-fx-background-color: "#E69344", /*"#3F3F3F"*//*transparent;
	-fx-background-radius: 2, 1;
	-fx-background-insets: 0, 2;*/
	-fx-background-color: transparent;
}

.progress-bar .bar {
	-fx-font-size: 16px;
	-fx-background-radius: 1;
	-fx-background-color: "#E69344"; /* removes the slight gradient */
}

.table-row-darken {
	-fx-background-color: "#F0F0F0";
}

.table-header {
    -fx-font-family: "Open Sans";
	-fx-font-weight: bold;
	-fx-font-size: 14px;
}

.bold-orange-text {
    -fx-text-fill: "#E69344";
	-fx-font-weight: bold;
	-fx-font-size: 24px;
}

#menu-separator {
	-fx-background-color: "#383838" !important;
	-fx-min-width: 48px;
}

.button-bar {
	-fx-background-color: rgba(0, 0, 0, 0.5);
	-fx-margin: 0 -2px 0 -2px;
}

.button-bar .button {
	-fx-font-weight: bold;
	-fx-font-size: 14px;
	-fx-background-color: "#666666";
	-fx-text-fill: "#FFFFFF";
}
/*
.tooltip {
    -fx-text-fill: black;
    -fx-background-color: transparent;
    -fx-background-radius: 6px;
    -fx-background-insets: 0;
    -fx-padding: 0.667em 0.75em 0.667em 0.75em; /* 10px *//*
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.5) , 10, 0.0 , 0 , 3 );
    -fx-font-size: 0.85em;
}*/

.recipe-matrix {
	-fx-background-color: "#ffffff";
}